body {
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/backg04.png); }

header {
  max-width: 1300px;
  height: 300px;
  display: flex;
  display: block; }

.banner {
  width: 100%;
  height: 100%;
  background-image: url(../img/pizzeria-purple-md-2.jpg);
  background-size: cover;
  background-position: center;
  border: solid 2px black;
  border-bottom: none; }

.navbar {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1300px; }

/* MENU CENTRADO */
.navbar-toggler {
  border: none; }

.carrito {
  margin: 0 auto;
  margin-right: 2px; }

.container-nav {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #fca965;
  margin-top: -10px;
  border: solid 2px black; }

.navbar-nav {
  margin: 0 auto;
  width: max-content;
  min-width: 250px; }

.offcanvas-title {
  margin: 0 auto; }

.nes-li {
  list-style: none; }

.nes-btn-a {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px; }

/* REEMPLAZA ICONO DEL MENU */
.navbar-toggler-icon {
  background-image: url(../img/button-menu-01.png) !important;
  background-size: cover;
  height: 60px;
  width: 55px;
  position: relative; }

.icon-cart {
  background-image: url(../img/button-cart-01.png) !important; }

main {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: -8px;
  padding-bottom: 15px; }

.contenedor-principal {
  position: relative;
  display: flexbox;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fef3db;
  border: solid 2px black;
  border-top: none;
  padding-top: 5px;
  padding-bottom: 20px; }
  .contenedor-principal article {
    position: relative;
    width: 90%;
    min-height: 250px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: white; }
  .contenedor-principal .nes-container.with-title > .title {
    font-size: 1.2rem; }

#nuevas, #productos, #clasicas, #especiales, #exclusivas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #nuevas .card-cajas, #productos .card-cajas, #clasicas .card-cajas, #especiales .card-cajas, #exclusivas .card-cajas {
    padding-bottom: 25px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #nuevas .card-cajas .caja, #productos .card-cajas .caja, #clasicas .card-cajas .caja, #especiales .card-cajas .caja, #exclusivas .card-cajas .caja {
      margin: 0 auto;
      height: 250px;
      width: 220px;
      background-size: cover;
      background-position: center; }
    #nuevas .card-cajas .cajaDescrip, #nuevas .card-cajas .pizzaNombre, #productos .card-cajas .cajaDescrip, #productos .card-cajas .pizzaNombre, #clasicas .card-cajas .cajaDescrip, #clasicas .card-cajas .pizzaNombre, #especiales .card-cajas .cajaDescrip, #especiales .card-cajas .pizzaNombre, #exclusivas .card-cajas .cajaDescrip, #exclusivas .card-cajas .pizzaNombre {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      width: 250px;
      height: 75px;
      background-color: #fef3db; }
    #nuevas .card-cajas .pizzaNombre, #productos .card-cajas .pizzaNombre, #clasicas .card-cajas .pizzaNombre, #especiales .card-cajas .pizzaNombre, #exclusivas .card-cajas .pizzaNombre {
      color: white;
      text-align: center;
      margin-bottom: 0px;
      background-color: black; }
    #nuevas .card-cajas .pizzaCh, #productos .card-cajas .pizzaCh, #clasicas .card-cajas .pizzaCh, #especiales .card-cajas .pizzaCh, #exclusivas .card-cajas .pizzaCh {
      padding-top: 10px;
      text-align: center;
      width: 250px;
      background-color: #fef3db; }
    #nuevas .card-cajas .pizzaGr, #productos .card-cajas .pizzaGr, #clasicas .card-cajas .pizzaGr, #especiales .card-cajas .pizzaGr, #exclusivas .card-cajas .pizzaGr {
      text-align: center;
      width: 250px;
      background-color: #fef3db; }
    #nuevas .card-cajas .nes-btn, #productos .card-cajas .nes-btn, #clasicas .card-cajas .nes-btn, #especiales .card-cajas .nes-btn, #exclusivas .card-cajas .nes-btn {
      width: 160px;
      margin: 0 auto; }
  #nuevas .card-pizza, #productos .card-pizza, #clasicas .card-pizza, #especiales .card-pizza, #exclusivas .card-pizza {
    background-color: #fef3db;
    margin-bottom: 20px; }
    #nuevas .card-pizza .nes-btn, #productos .card-pizza .nes-btn, #clasicas .card-pizza .nes-btn, #especiales .card-pizza .nes-btn, #exclusivas .card-pizza .nes-btn {
      margin-top: 15px; }

#clasicas, #especiales, #exclusivas {
  margin-top: 30px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-content {
  border-radius: 0px;
  position: relative;
  background-color: white;
  margin: auto;
  padding: 5px;
  max-width: 1300px;
  width: 95%; }
  .modal-content .titulo-agregar {
    background-color: black; }
  .modal-content .tamano {
    display: flex;
    flex-direction: column; }
  .modal-content .select-caja {
    margin-top: 15px; }
    .modal-content .select-caja .nes-select {
      max-width: 500px; }
  .modal-content .subtotal-pizza {
    display: flex;
    flex-direction: column;
    margin-top: 25px; }
    .modal-content .subtotal-pizza #p-total {
      max-width: 500px;
      background-color: black;
      color: white;
      padding: 5px; }
  .modal-content .agregar-cancelar {
    margin-top: 10px;
    display: flex;
    flex-direction: column; }
    .modal-content .agregar-cancelar .btn-agregar {
      width: 200px; }
    .modal-content .agregar-cancelar .btn-cerrar {
      margin-top: 10px;
      width: 200px; }
