#carrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card-item{
        margin-bottom: 20px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fef3db;

        .pizza-carrito{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
            width: 250px;
            height: 75px;
            background-color: black;
            color: white;
            border: none;
            padding: 2px;
        }

        .descrip-carrito, .subtotal-carrito{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fef3db;
            border: none;
            padding: 2px;
        }

        .subtotal-carrito{
            margin-top: 5px;
            padding-bottom: 5px;
            padding-top: 10px;
            width: 225px;
            border-top: solid black 3px;
            border-bottom: solid black 3px;
        }

        .nes-btn{
            margin: 15px;
            max-width: 180px;
        }
    }

}

.carrito-tabla-totales{
    margin-top: 20px;
    display: flex;
    justify-content: center;

    table{
        background-color: white
    }

    td{
        border-right: solid 4px black;
        font-size: 15px;
        padding: 5px 7px;
        text-align: right;
    }

    .td-total{
        background-color: rgb(54, 51, 51);
        color: white;
    }
}

.botones-carrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;

    button{
        height: 80px;
        width: 180px;
        margin-bottom: 15px;
    }
}