main{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: -8px;
    padding-bottom: 15px;
}

.contenedor-principal{
    position: relative;
    display: flexbox;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fef3db;
    border: solid 2px black;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 20px;

    article{
        position: relative;
        width: 90%;
        min-height: 300px;
        margin: 0 auto;
        margin-top: 25px;
        background-color: white;
    }

    .nes-container.with-title > .title {
        //  padding: 0 0.5rem;
        // margin: -1.8rem 0 1rem;
        font-size: 1.2rem;
    }
}

#nuevas, #productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card-cajas{
        padding-bottom: 25px;
        width: 300px;
        display: flex;
        flex-direction: column;

        .caja{
            margin: 0 auto;
            height: 220px;
            width: 220px;
            background-size: cover;
            background-position: center;
        }

        .cajaDescrip{
            margin-bottom: 15px;
        }

        .nes-btn{
            width: 160px;
            margin: 0 auto;
        }
    }
}