.navbar {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1300px;
}

/* MENU CENTRADO */
.navbar-toggler {
    border: none;
    @include btn-cursor;
}

.carrito {
    margin: 0 auto;
    margin-right: 2px;
}

.container-nav {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #fca965;
    margin-top: -10px;
    border: solid 2px black;
}

.navbar-nav {
    margin: 0 auto;
    width: max-content;
    min-width: 250px;
}

.offcanvas-title {
    margin: 0 auto;
}

.nes-li {
    list-style: none;
}

.nes-btn-a {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* REEMPLAZA ICONO DEL MENU */
.navbar-toggler-icon {
    background-image: url(../img/button-menu-01.png) !important;
    background-size: cover;
    height: 60px;
    width: 55px;
    position: relative;
}

.icon-cart {
    background-image: url(../img/button-cart-01.png) !important;
}