#nosotros{

    .img-nosotros, .img-logo, .img-caja-pizza{
        margin: 0 auto;
        max-width: 250px;
        object-position: center;
        padding-top: 20px;
        padding-bottom: 30px
    }

}

.contacto{
    min-height: 100px !important;

    a{
        margin: 0 auto;
        max-width: 100px;
        text-decoration: none;
        color:black;
        font-weight: bold;
    }

    .img-insta{
        margin: 0 auto;
        max-width: 100px;
        object-position: center;
        padding-top: 10px;
        padding-bottom: 10px
    }

}

